<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /E-comerce/public/
    
    # Redirecionar para index.php se o arquivo/diretório não existir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>